$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/////////////////////////////////////////////////////////
// COLOR PALETTE
//////////////////////////////////////////////////////////

$dark-blue: #0288D1;
$light-blue: #03A9F4;
$deep-purple: #7C4DFF;
$light-light-blue: #B3E5FC;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;
$white: #FFFFFF;
$soft-black: #323232;
$google-plus-icon: #cc0000;
$tumblr-icon:#36465d;
$red-error: #FF0033;
$facebook-color: #3b5998;
$kick: #0e2005;
$starter: #38dc77;
$blue-overlay:#4c77bf;

// - DIVS COLORS

$lime: #CDDC39;
$pink: #FF4081;
$orange: #FF8900;
$deep-orange: #FF5722;
$green: #4CAF50;
$light-green: #4CAF50;
$cyan: #00BCD4;
$teal: #009688;
$purple: #9C27B0;
$red: #FF5252;
$brown: #795548;
$grey: #9E9E9E;
$yellow: #FFEB3B;
$amber: #FFC107;
$indigo: #3F51B5;
$blue-grey-background: #CFD8DC;
$soft-blue: #afbdc4;
$soft-white: #eef2f4;

// - BTN COLOR

$soft-green: #B9F6CA;
$btn-green: #4CAF50;
$btn-pink: #C2185B;
$btn-blue: #5C6BC0;
$btn-light-blue: #536DFE;
$btn-teal: #26A69A;


//////////////////////////////////////////////////////////
// FONTS
//////////////////////////////////////////////////////////

@font-face {
  font-family: kickstarter;
  src: url('../fonts/barutalBlack/BarutaBlack.ttf'),
       url('../fonts/barutalBlack/BarutaBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barutalBlack/BarutaBlack.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/barutalBlack/BarutaBlack.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: african;
  src: url('../fonts/african/african.ttf'),
       url('../fonts/african/african.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/african/african.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/african/african.svg#svgFontName') format('svg'); /* Legacy iOS */
}

//////////////////////////////////////////////////////////
// GENERAL LAYAOUT STYLE
//////////////////////////////////////////////////////////

body {
  position: relative;
}

a, p, h1, h2, h3, h4 {
  font-family: calibri;
}

.textP {
  font-size:1.2em;
  padding-bottom: 30px;
}

.row {
  margin-left:0;
  margin-right:0;
}

.titleDino {
  font-family: african;
  margin-bottom: 1em;
}

.theme__button {
  background: $yellow;
  position: fixed;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
  outline: 0 !important;
  color: #fff;
  border-radius: 100%;
  font-size: 26px;
  height: 80px;
  line-height: 26px;
  width: 80px;
  text-align: center;
  padding: 15px;
  bottom: 45px;
  right: 45px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index: 999;
    i {
        padding-top: 6px;
        font-size: 42px;
    }
}

.boldText {
  font-weight: bold;
  font-family:calibri;
}

.socialIcons {
  position: fixed;
  top: 45px;
  right: 25px;
  padding:0;
  z-index: 999;
    ul {
      padding-left: 0;
      list-style: none;
      li {
        a {
          background: rgba(50,50,50,0.9);
          border-radius: 50px;
          font-size: 30px;
          width: 58px;
          margin-bottom: 10px;
        }
      }
    }
/*    .btn {
        font-size:30px;
    }
   .fa-tumblr-square {
      color:$tumblr-icon;
    }
    .fa-pinterest-square {
      color:$google-plus-icon;
    }
    .fa-facebook-square {
      color:$facebook-color;
    }*/
}

nav.indicationDots {
  position: fixed;
  left: 10px;
  top: 35vh;
  ul {
    list-style: none;
    li {
      padding:20px 0;
      a {
        display: block;
        border-radius: 10px;
        height: 15px;
        width: 15px;
        position: relative;
        background-color: #003b8c;
        cursor: default;
        i {
          display: block;
          position: absolute;
          z-index: 22000;
          top: 2px;
          left: 2px;
          height: 11px;
          width: 11px;
          border-radius: 10px;
          background-color: white;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }
      }
      .currentPage {
        background-color: $amber;
      }
    }
  }
}

h1 {
  font-size: 25px;
  font-weight: lighter;
  padding-left:30px;
  padding-bottom: 0;
  margin-bottom: 0px;
  text-shadow: none;
  color: $soft-black;
}

p, label{
  font-size:14px;
  font-weight: lighter;
  text-align: left;
}

.maxWidthContainer {
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.error {
  color:#FF0033;
  font-size: 1.5em;
}

span {
  color:$soft-black;
}

.modal-footer {
  border-top:none;
}

.btn-primary {
  display: block;
  margin: 0 auto;
  width: 170px;
  border-radius: 30px;
  background: $deep-purple;
  color:$soft-black;
  border-color:transparent;
  margin-top:30px;
}


//////////////////////////////////////////////////////////
// SPECIFIC STYLE FOR EACH SECTION
//////////////////////////////////////////////////////////
.wrapModal {
  position: relative;
}
.md-modal {
  .sectionDinosaur li {
  list-style: none;
  span {
    font-weight: bold;
    color:$soft-black;
  }
}
  .lastDino {
    li {
      list-style: inherit;
    }
  }
}

.section1 {
//  height: 50vh;
  padding: 0;
  background: $white;
  .wrapMainSect {
   .titleWrap {
    position: relative;
    .titlesMain {
      text-align: center;
      /*position: absolute;*/
      font-family: calibri;
      color: #F1F8E9;
      text-shadow: 2px 2px 2px #558B2F;
      padding-bottom: 0;
      /*z-index: 100;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 70%;
      height: 50%;
      margin: auto;*/
       .title {
          padding: 0;
          font-size: 8em;
          font-weight: bold;
          text-shadow: 6px 5px 4px #558B2F;
       }
    }
    .helper {
       display: inline-block;
       height: 100%;
       vertical-align: middle;
       img {
         width: 50%;
         display: block;
         margin:0 auto;
         vertical-align: middle;
       }
     }
    }
  }
}

.section1 {
  height: 100vh;
  padding: 1em 0;
  width: 100%;
  line-height: 3.5em;
  border-bottom: solid 2px #dddddd;
  a {
    text-decoration: none;
  }
//  .imageDino {
//    img {
//      width: 100%;
//      display: block;
//      margin:0 auto;
//      max-width: 500px;
//    }
//    .nowOn {
//      font-size: 1.5em;
//      font-weight: bold;
//      text-transform: uppercase;
//    }
//  }
  .kickCamp {
    font-size: 2.5em;
    padding-top: 0em;
    text-align: center;
    a {
      text-decoration: none;
    }
    .kick, .starter {
      font-family: kickstarter;
      font-size:2em;
    }
    .kick {
      color:$kick;
    }
    .starter {
      color:$starter;
      img {
        width: 100%;
        display: block;
        margin:0 auto;
      }
    }
  }

}

.section2 {
  background:url('../images/footstepColor.jpg') no-repeat center;
  background-size:cover;
  .logoChi {
    width:60px;
    display: block;
    margin:0 auto;
    padding-top: 2em;
  }
  .parentCell {
    padding-top: 3%;
    .whoWeAre {
      padding:2em 0;
      .textLeft {
        font-size:3em;
        text-align: center;
        .logoBold {
          font-weight:bold;
        }
        .tradeMark {
          font-size:10px;
          vertical-align: text-top;
        }
      }
      .textRight {
        font-size:1.2em;
        text-align: right;
        padding-top: 30px;
        .africanTest {
          font-family: african;
        }

      }
      .kickstarterCampaign {
        h1 {
          text-align: center;
          padding:2em 0;
          text-shadow: none;
        }
        .kickLink {
          text-decoration: none;
        }
        .kickCamp {
          font-size: 1.3em;
          padding-top: 3em;
          text-align: center;
          .kick, .starter {
            font-family: kickstarter;
            font-size:2em;
          }
          .kick {
            color:$kick;
          }
          .starter {
            color:$starter;
          }
        }
      }
    }
  }
}

.section3 {
/*  background: url(../images/wallpaper5.jpg) center no-repeat;*/
  background: $soft-blue;
  background-size: cover;
  .displayDinoInfo {
    display: none;
    border-top:solid 1px $soft-black;
    border-bottom:solid 3px $soft-black;
    h3 {
      text-align: center;
    }
  }
  .africanDanger {
    font-family:african;
    font-size: 1.5em;
  }
  .ourCustomToys {
    h1 {
      color: white;
    }
    .titleAfrican {
      font-family: african;
      text-align: center;
      padding-bottom: 1em;
      padding-left:0;
    }
    .textMid {
      text-align: center;
      text-shadow: 2px 1px 3px rgba(50,50,50,0.5);
      color:$white;
      font-size:1.5em;
    }
    .wrapDinoMsg {
      position: relative;
      .dinoSiluete {
        width: 100%;
        display: block;
        margin:0 auto;
      }
      .backBack {
        text-align: center;
        .glyphicon {
          font-size:1.5em;
          margin-right: 5px;
        }
      }
    }
    .dinoIntroduction {     
      font-size: 1.2em;
      padding-bottom: 30px;
    }
  }
}

.section4 {
  background: url(../images/backgroundColor.jpg) center no-repeat;
  background-size:cover;
  .pdfToDownload {
    span {
      color:$soft-black;
    }
    .dinoPDF {
      margin-bottom: 3em;
      text-align: center;
      img {
        display: block;
        margin:0 auto;
        width: 100%;
        margin-bottom: 2em;
        border-radius: 20px;
      }
      .effectShadow {
          position:relative;
          -webkit-box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
             -moz-box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
                  box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
      }
      .effectShadow:before, .effect8:after {
        content:"";
          position:absolute;
          z-index:-1;
          -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
          -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
          box-shadow:0 0 20px rgba(0,0,0,0.8);
          top:10px;
          bottom:10px;
          left:0;
          right:0;
          -moz-border-radius:100px / 10px;
          border-radius:100px / 10px;
      }
      .effectShadow:after {
        right:10px;
          left:auto;
          -webkit-transform:skew(8deg) rotate(3deg);
             -moz-transform:skew(8deg) rotate(3deg);
              -ms-transform:skew(8deg) rotate(3deg);
               -o-transform:skew(8deg) rotate(3deg);
                  transform:skew(8deg) rotate(3deg);
      }
    }
    .btnPDF {
      max-width: 100px;
      float: none;
      display: block;
      margin:0 auto;
      border:transparent;
      -webkit-box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
      -moz-box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
      box-shadow:0 4px 9px rgba(50, 50, 50, 0.3), 0 0 40px rgba(50, 50, 50, 0.1) inset;
      border-radius: 30px;
      span {
        color:$soft-black;
      }
/*      &:hover ~ img{
            -webkit-box-shadow:0 4px 9px rgba(0, 200, 0, 0.3), 0 0 40px rgba(0, 200, 0, 0.1) inset;
            -moz-box-shadow:0 4px 9px rgba(0, 200, 0, 0.3), 0 0 40px rgba(0, 200, 0, 0.1) inset;
            box-shadow:0 4px 9px rgba(0, 200, 0, 0.3), 0 0 40px rgba(200, 200, 0, 0.1) inset;
      }*/
    }
    .btnPDF1 {
      background: $btn-green;
    }
    .btnPDF2 {
      background: $btn-pink;
    }
    .btnPDF3 {
      background: $amber;
    }
    .btnPDF4 {
      background: $cyan;
    }
  }
  .textP {
    padding:20px 0;
  }
}

.section5 {
  background: #80CBC4;
  background-size:cover;
  padding-top: 5%;
  .questions {
    padding: 20px 0;
  }
  .rowMainStyle {
    margin-bottom: 15px;
    padding-left:40px;
  }
  .labelStyle {
    min-width: 100px;
  }
  .inputStyle {
    min-width: 300px;
    width:100%;
    background: $soft-white;
    border: solid 1px rgba(50,50,50,0.5);
  }
  textarea {
    border: solid 1px rgba(50,50,50,0.5);
    background: $soft-white;
    width: 88.7%;
    min-height: 200px;
  }
  .textareaWrapper {
    padding-left: 40px;
  }
}


//////////////////////////////////////////////////////////
// BUTTON STYLE
//////////////////////////////////////////////////////////

/* Box colors */
.bg-1 {
  background: #ECEFF1;
  color: #37474f;
}

/* Common button styles */
.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #37474f;
  border-color: #37474f;
}

.button--round-s {
  border-radius: 5px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

/* Sizes */
.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

/* Naira */
.button--naira {
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #37474f;
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}
.button--naira.button--inverted::before {
  background: #7986cb;
}
.button--naira-up::before {
  -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}
.button--naira > span {
  display: block;
}
.button--naira .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--naira-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira > span,
.button--naira .button__icon {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
  animation: anim-naira-1 0.3s forwards ease-in;
}
.button--naira-up:hover::before {
  -webkit-animation: anim-naira-2 0.3s forwards ease-in;
  animation: anim-naira-2 0.3s forwards ease-in;
}
@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.button--naira:hover {
  background-color: #37474f;
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}
.button--naira.button--inverted:hover {
  background-color: #7986cb;
}
.button--naira:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--naira-up:hover > span {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

//////////////////////////////////////////////////////////
// MODAL STYLE
//////////////////////////////////////////////////////////

.sectionDinosaur {
  padding-bottom:20px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  .dinoAfrican {
    font-family: african;
    list-style:none;
  }
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-close {
  background: $soft-black;
  padding: 18px 25px;
  border-radius: 100%;
  font-size: 20px;
  color:$white;
  &:hover {
    text-decoration:none;
  }
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143,27,15,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
  background: #FFB74D;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}

.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

//////////////////////////////////////////////////////////
// MEDIA QUERY
//////////////////////////////////////////////////////////


@media screen and (min-width:1300px) {
  .section {
    height: 100vh;
    width: 100%;
    margin:0;
    padding:5vh 0;
  }
//  .section1, .section1-1 {
//    height: 50vh;
//  }
//  .section2 {
//    height: 100vh;
//  }

//  .section3, .section4, .section5 {
//    min-height: 100vh;
//    height: auto;
//  }
}

@media screen and (max-width: 1300px) {

  .section {
    width: 100%;
    margin:0;
    padding:5vh 0;
  }
  .section1 {
    height: 100vh;
  }

  .section2, .section3, .section4, .section5 {
    min-height: 100vh;
    height: auto;
  }

  .section1 .wrapMainSect .titleWrap {
    img {
      width: 70%;
    }
    .titlesMain .title {
      padding-bottom: 0;
    }
  }

  .section2 .parentCell {
    padding-top: 0;
    .whoWeAre .kickstarterCampaign {
      h1 {
       padding:1em 0;
      }
      .kickCamp {
      padding-top:2em;
    }
    }
  }

  .section3 .ourCustomToys .wrapDinoMsg .dinoSiluete {
    width: 80%;
  }

  .section4 {
    .pdfToDownload .dinoPDF {
      margin-bottom: 1em;
      img {
        width: 70%;
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width:1200px) {
  .section1 .wrapMainSect .titleWrap img {
    width:90%;
  }
}

@media screen and (max-width: 992px) {
  .section1 .wrapMainSect .titleWrap img {
        width: 100%;
  padding-top: 3em;
  }
}

@media screen and (min-width: 767px)
  .section1 .wrapMainSect .titleWrap .titlesMain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {

  .section4 .textP, .section5 .textP, .dinoIntroduction {
    padding-left:15px;
  }
  .sectionDinosaur ul{
    padding-left:0;
  }
  nav.indicationDots {
    left:-25px;
  }
  .socialIcons {
    right: inherit;
    left:5px;
    top:25px;
    ul li a {
      font-size: 20px;
      width: 42px;
    }
  }
  .theme__button {
    height: 50px;
    width: 50px;
    bottom: 30px;
    right:10px;
  }
  .section1 .wrapMainSect .titleWrap .titlesMain h1 {
    padding:0;
  }
  .section4 {
    .pdfToDownload {
      .btnPDF {
      margin-bottom: 1.5em;
      }
      .dinoPDF img {
          width:100%;
      }
    }
  }
  .section5  {
    textarea {
      width: 100%;
    }
    .questions {
      padding-top:0;
    }
    .textareaWrapper {
      padding-left: 0;
    }
    .rowMainStyle {
      padding-left:0;
    }
  }
  .sectionDinosaur li span {
    color: $soft-black;
    font-weight: bold;
  }
}

@media screen and (max-height: 702px) {
  .section {
    padding: 4vh 0;
  }
  .section1-1 .outer {
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {

  .section1 .wrapMainSect .titleWrap .titlesMain .title {
    font-size: 5em;
    padding-top: 0;
  }

  .section5 .inputStyle {
    width: 100%;
    min-width: 100%;
  }

  .section1 .wrapMainSect .titleWrap img {
    padding-top:10em;
  }
  .section3 .displayDinoInfo h3 {
    font-size:1.5em;
  }
}
