<!doctype html>
<html ng-app="app" ng-controller="MainController as main" lang={{language}}>
  <head>
    <meta charset="utf-8">
    <title>Jungle Plush</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Welcome to Jungle Plush! Future home of the Wildest Plush Animal Toys in the UK!">
    <meta name="keywords" content="Jungle, Jungle Plush, plush toys, plush toy, stuffed animals, dinosaur">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles/lib/normalize.css" />
    <link rel="stylesheet" type="text/css" href="styles/lib/vicons-font.css" />
    <link rel="stylesheet" type="text/css" href="styles/lib/animate.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- endbuild -->
  </head>
  <body>
<div class="testtets">
    {{ test }}
  </div>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <!--Modals-->
        <div class="container md-modal md-effect-12" id="modal-1">
            <div class="md-content row">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10">
                    <h3 class="titleDino">Tyrannosaurus Rex</h3>
                    <div class="row sectionDinosaur">
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/sketchCOLORtyrannosaurus.svg" alt="trex" />
                        </div>
                         <div class="col-sm-6 col-xs-12">
                         <ul>
                            <li>Name meaning: <span>Tyrant Lizard King</span></li>
                            <li>Named by: <span>H.F. Osborn, 1905</span></li>
                            <li>Classification: <span>Theropoda, <br>
                                            Tyrannosauroidea</span></li>
                            <li>Location:   <span>North America</span></li>
                            <li>Period:     <span>Late Cretaceous</span></li>
                            <li>Size:       <span>12m (39ft)</span></li>
                            <li>Diet:       <span>Carnivore</span></li>
                            <li>Lifestyle:  <span>Hunter, Scavenger</span></li>
                        </ul>
                        </div>
                    </div>
                    <div class="row sectionDinosaur lastDino">
                        <div class="col-sm-6 col-xs-12">
                             <ul>
                            <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                            <li>The best known of all dinosaurs, T. Rex held the record for the biggest and most powerful land-living carnivore of all time for a century, until the nineties.</li>
                            <li>Tyrannosaurus were fearsome predators with an incredibly powerful bite, 8-16cm long teeth, excellent hearing and sight.</li>
                            <li>About 20 T. Rex skeletons are known.</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/T-Rex-Skull-Blue.svg" alt="trexSkull" />
                        </div>
                    </div>
                </div>
            <div class="col-sm-2 col-xs-1"></div>
            <a class="md-close">X</a>
            </div>
        </div>


       <div class="container md-modal md-effect-12" id="modal-2">
            <div class="md-content row">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10">
                    <h3 class="titleDino">Apatosaurus</h3>
                    <div class="row sectionDinosaur">
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/sketchCOLORapatosaurus.svg" alt="apatosaurus" />
                        </div>
                         <div class="col-sm-6 col-xs-12">
                             <ul>
                                <li>Name meaning:   <span>Deceptive Lizard</span></li>
                                <li>Named by:   <span>O.C. Marsh, 1877</span></li>
                                <li>Classification: <span>Sauropoda, <br>
                                        Diplodocidae</span></li>
                                <li>Location:   <span>North America</span></li>
                                <li>Period:     <span>Late Jurassic</span></li>
                                <li>Size:       <span>25m (82ft)</span></li>
                                <li>Diet:       <span>Herbivore</span></li>
                                <li>Lifestyle:  <span>High Browser</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row sectionDinosaur lastDino">
                        <div class="col-sm-6 col-xs-12">
                             <ul>
                                <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                <li>Apatosaurus vertebrae held a strong ligament that supported the weight of the neck and the tail, like the cables on a suspension bridge.</li>
                                <li>Sauropods are known as the biggest animals ever to walk the Earth. Apatosaurus wheighed as much as 30 tons!</li>
                                <li>It used to be believed that Apatosaurus and Brontosaurus were the same animal. Recent studies from 2015 have shown that, in fact, they're two different dinosaur species.</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/Apatosaurus-Skull-Blue.svg" alt="apatosaurusSkull" />
                        </div>
                    </div>
                </div>
            <div class="col-sm-2 col-xs-1"></div>
            <a class="md-close">X</a>
            </div>
        </div>

        <div class="container md-modal md-effect-12" id="modal-3">
            <div class="md-content row">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10">
                    <h3 class="titleDino">Triceratops</h3>
                    <div class="row sectionDinosaur">
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/sketchCOLORtriceratops.svg" alt="triceratops" />
                        </div>
                         <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li>Name meaning:   <span>Three-horned Face</span></li>
                                <li>Named by:   <span>O.C. Marsh, 1889</span></li>
                                <li>Classification: <span>Ceratopsia, <br>
                                        Chasmosaurini</span></li>
                                <li>Location:   <span>North America</span></li>
                                <li>Period:     <span>Late Cretaceous</span></li>
                                <li>Size:       <span>9m (30ft)</span></li>
                                <li>Diet:       <span>Herbivore</span></li>
                                <li>Lifestyle:  <span>Low Browser</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row sectionDinosaur lastDino">
                        <div class="col-sm-6 col-xs-12">
                             <ul>
                                <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                <li>Triceratops is the biggest and best-known of all long-frilled ceratopsian dinosaurs. Adults weighted aprox. 4,5 tonnes.</li>
                                <li>When it was discovered it was only known from a pair of horns found in Denver, Colorado. However, Triceratops skulls were so solid that they began to turn up quite regularly as complete fossils.</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/Triceratops-Skull-Blue.svg" alt="triceratopsSkull" />
                        </div>
                    </div>
                </div>
            <div class="col-sm-2 col-xs-1"></div>
            <a class="md-close">X</a>
            </div>
        </div>

        <div class="container md-modal md-effect-12" id="modal-4">
            <div class="md-content row">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10">
                    <h3 class="titleDino">Spinosaurus</h3>
                    <div class="row sectionDinosaur">
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/sketchCOLORspinosaurus.svg" alt="spinosaurus" />
                        </div>
                         <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li>Name meaning: <span>Spined Lizard</span></li>
                                <li>Named by: <span>E. F. Stromer, 1915</span></li>
                                <li>Classification: <span>Theropoda, <br>
                                  Spinosauridae</span></li>
                                <li>Location: <span>North Africa</span></li>
                                <li>Period:  <span>Cretaceous</span></li>
                                <li>Size:   <span>Maybe up to 17m (56ft)</span></li>
                                <li>Diet:   <span>Carnivore</span></li>
                                <li>Lifestyle: <span>Fisher, Hunter, Scavenger</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row sectionDinosaur lastDino">
                        <div class="col-sm-6 col-xs-12">
                             <ul>
                                <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                <li>The distinctive sail on its back may have been used to regulate body heat or to communicate with others.</li>
                                <li>Spinosaurus is the largest carnivore dinosaur known up-to-date.</li>
                                <li>The first and most complete Spinosaurus skeleton was lost in 1944, when the museum in Munich, Germany, in which it was stored, was destroyed by allied bombing during World War II.</li>
                                <li>According to new research from 2014, Spinosaurus was a very good swimmer, had a semiaquatic lifestyle, and may have spent more time hunting the huge fish that roamed the rivers of its northern African habitat than on dry land.</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="images/Spinosaurus-Skull-Blue.svg" alt="spinosaurusSkull" />
                        </div>
                    </div>
                </div>
            <div class="col-sm-2 col-xs-1"></div>
            <a class="md-close">X</a>
            </div>
        </div>

        <!--Button scroll down/up-->
    <ng-include src="'views/btnScrollDown.html'"></ng-include>

        <!--Social Icons-->
    <ng-include src="'views/socialIcon.html'"></ng-include>

        <!--Social Icons-->
    <ng-include src="'views/socialIcon.html'"></ng-include>

        <!--Indication dots-->
    <ng-include src="'views/indicaDots.html'"></ng-include>

        <!--Section1-->
    <!--<ng-include src="'views/section1.html'"></ng-include>-->

      <!--Section1-1 KICKSTARTER-->
    <ng-include src="'views/section1-1.html'"></ng-include>

        <!--Section2-->
    <ng-include src="'views/section2.html'"></ng-include>

        <!--Section3-->
    <ng-include src="'views/section3.html'"></ng-include>
    <div class="md-overlay"></div><!-- the overlay element -->

        <!--Section4-->
    <ng-include src="'views/section4.html'"></ng-include>

        <!--Section5-->
    <ng-include src="'views/section5.html'"></ng-include>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <!--<script src="scripts/canvas/mathlib-min.js"></script>-->
    <script>
        (function() {
            var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
            if(isSafari) {
                document.getElementById('support-note').style.display = 'block';
            }
        })();
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="scripts/mainControler.js"></script>
    <script src="scripts/jquery.validate.js"></script>
    <script src="scripts/classie.js"></script>
    <script src="scripts/scrollDown.js"></script>
    <script src="scripts/modalJs.js"></script>
    <script src="scripts/main.js"></script>
    <!--<script src="scripts/canvasMain.js"></script>-->
    <!-- endbuild -->

        <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PJB4DX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PJB4DX');</script>
    <!-- End Google Tag Manager -->

</body>
</html>
