<nav class="indicationDots hidden-xs">
    <ul class="indicationList">
        <li><a href="" class="currentPage"><i class="inside"></i></a></li>
        <li><a href=""><i class="inside"></i></a></li>
        <li><a href=""><i class="inside"></i></a></li>
        <li><a href=""><i class="inside"></i></a></li>
        <li><a href=""><i class="inside"></i></a></li>
    </ul>
</nav>
