<section class="section1-1 secton">
  <div class="container">
      	<div class="col-xs-12">
          <div class="outer">
            <div class="middle">
              <div class="inner">

                <a href="https://www.kickstarter.com/projects/308164940/jurassic-plush-t-rex-dinosaur-plush-toys"><img src="../images/DINO_the_final-2.png" alt="dino Rex"></a>
                  <p class="kickCamp"><span class="nowOn"> Now on </span><br> <a href="https://www.kickstarter.com/projects/308164940/jurassic-plush-t-rex-dinosaur-plush-toys"><span class="kick">KICK</span><span class="starter">STARTER</span></a></p>

              </div>
            </div>
          </div>
      	</div>
  </div>
</section>


