<section class="section1 section" data-index="1">
    <div id=""></div>
    <div class="container wrapMainSect">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 titleWrap">
                <span class="helper"><img src="images/iconBlueYellow.png" alt="jungleplushLogo" /></span>
                <div class="titlesMain animated bounceIn">
                <!--<h1 class="title">JUNGLE PLUSH</h1>-->
                <h1>Welcome to Jungle Plush! Future home of the Wildest Plush Animal Toys in the UK!</h1>
              </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</section>
