<section class="section5 section contactForm" data-index="5">
    <div id="section_5"></div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10">
                    <h1>Contact us:</h1>
                    <p class="questions textP">Do you have any questions? Just fill out the form below and we’ll get back to you as soon as possible.</p>
                    <form role="form" id="newComment" name="contact" action="proces.php" method="post">
                        <div class="row rowMainStyle">
                            <div class="col-sm-6">
                                <label class="labelStyle" for="firstName">First name<span>*</span></label>
                                <input class="inputStyle" type="text" id="firstName"  name="firstName" required />
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row rowMainStyle">
                            <div class="col-sm-6">
                                <label class="labelStyle" for="secondName">Second name<span>*</span></label>
                                <input class="inputStyle" type="text" id="secondName" name="secondName" required />
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row rowMainStyle">
                            <div class="col-sm-6">
                                <label class="labelStyle" for="email">Email<span>*</span></label>
                                <input class="inputStyle" type="email" id="email" name="email" required />
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row textareaWrapper">
                            <div class="col-xs-12">
                                <label class="" for="comments">Leave your comment:</label>
                                <textarea name="comments" id="comments"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btnRegister" type="submit" name="submit">Send your comment</button>
                        </div>
                    </form>

                </div>
                <div class="col-sm-2 col-xs-1"></div>
            </div>
        </div>
    </div>
</section>
