<section class="section4 section container-fluid section" data-index="4">
    <div id="section_4"></div>
    <div class="container pdfToDownload">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <h1>Download pdf colouring pages:</h1>
                <p class="textP">Download and print our fun colouring pages for kids. WE WANT TO SEE YOUR ARTWORK! Send us your coloured dinosaurs and we will display them in our website gallery (coming soon).<br>Just send an email to <a href="mailto:jungleplush@gmail.com?Subject=Coloruring%20Sheet">jungleplush@gmail.com</a> with your name and some pictures of your colouring sheet attached.</p>
                <div class="row dinoPDF">
                    <div class="col-sm-6 col-xs-12">
                        <img class="effectShadow" src="images/T-Rex-Sketch.jpg" alt="TRex-Sketch">
                        <a class="button button--naira button--round-s button--border-thin btnPDF btnPDF1" href="pdf/TRex-Colouring-Sheet.pdf?mode=saveAs"><i class="button__icon icon icon-download"></i><span>Download</span></a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <img class="effectShadow" src="images/Apatosaurus-Sketch.jpg" alt="Apatosaurus-Sketch">
                        <a class="button button--naira button--round-s button--border-thin btnPDF btnPDF2" href="pdf/Apatosaurus-Colouring-Sheet.pdf?mode=saveAs"><i class="button__icon icon icon-download"></i><span>Download</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div class="row dinoPDF">
                    <div class="col-sm-6 col-xs-12">
                        <img class="effectShadow" src="images/Triceratops-Sketch.jpg" alt="Triceratops-Sketch">
                        <a class="button button--naira button--round-s button--border-thin btnPDF btnPDF3" href="pdf/Triceratops-Colouring-Sheet.pdf?mode=saveAs"><i class="button__icon icon icon-download"></i><span>Download</span></a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <img class="effectShadow" src="images/Spinosaurus-Sketch.jpg" alt="Spinosaurus-Sketch">
                        <a class="button button--naira button--round-s button--border-thin btnPDF btnPDF4" href="pdf/Spinosaurus-Colouring-Sheet.pdf?mode=saveAs"><i class="button__icon icon icon-download"></i><span>Download</span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</section>
