<section class="section2 section container-fluid section" data-index="2">
        <div class="parentCell">
            <div class="maxWidthContainer container whoWeAre">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10 col-sm-10">
                        <h1>About us:</h1>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                            <img class="logoChi" src="images/jungleplushicon1024greenSmall.png" alt="logoSmall" />
                                <p class="textLeft"><span class="logoBold">JUNGLE PLUSH</span><span class="tradeMark">TM</span></p>

                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <p class="textRight">Our goal is simple; design and bring to the market a whole new selection of quality plush toys that kids of all ages will enjoy. <br>
                                Young team, based in London, with lots of energy and new ideas. <br>
                                Our first range of products is <span class="africanTest">JURASSIC PLUSH</span>.<br>
                                A cool collection of cute but fearsome dinosaurs.. <br>
                                Scroll down to find more about them!</p>
                            </div>
                        </div>
                        <div class="row kickstarterCampaign">
                            <p class="kickCamp"><a class="kickLink"  href="www.kickstarter.com"><span class="kick">KICK</span><span class="starter">STARTER  </span></a>is a unique fundraising website that connects donors with people that make creative projects. Backing a project is more than just pledging funds to its creator. It's pledging your support to a creative idea that you want to see exist in the world. <br></p>
                            <h1>We launched a campaign to get the funds we need in this adventure.. And we need your help! <br>
                            With your pledge, we will make these toys a reality, and you can get some awesome rewards including the dino plushies you will help to fund!</h1>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
</section>
