<section class="section3 section container-fluid section" data-index="3">
    <div id="section_3"></div>
    <div class="maxWidthContainer container ourCustomToys">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <h1 class="titleAfrican">JURASSIC PLUSH</h1>
                <p class="textMid">A plush toy 65 million years in the making..</p>
                <p class="dinoIntroduction">Our scientists in the Jungle Plush Laboratory have been working very hard to bring dinosaurs back from extinction. They have used their fossil remains and the most advanced plush-DNA extraction technology to revive them. Make a place in your home for this cool, cute & cuddly stuffed prehistoric beasts!
            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 wrapDinoMsg">
                        <img class="md-trigger dinoSiluete dino1" data-modal="modal-1" src="images/shadowTyrannosaurusQuestion.png" alt="trexSiluete" />
                        <div class="message"><p class="backBack"><i class="error fa fa-exclamation-triangle"></i><span class="error africanDanger">&nbsp;Danger</span><br>Click on the shadow to discover</p></div>
                            <div class="row hidden-lg hidden-md hidden-sm displayDinoInfo">
                                <div class="col-xs-12">
                                    <h3 class="titleDino">Tyrannosaurus Rex</h3>
                                    <div class="row sectionDinosaur">
                                        <div class="col-xs-12">
                                            <img src="images/sketchCOLORtyrannosaurus.svg" alt="trexSketch" />
                                        </div>
                                         <div class="col-xs-12">
                                         <ul>
                                            <li>Name meaning:   <span>Tyrant Lizard King</span></li>
                                            <li>Named by:   <span>H.F. Osborn, 1905</span></li>
                                            <li>Classification: <span>Theropoda, <br>
                                                    Tyrannosauroidea</span></li>
                                            <li>Location:   <span>North America</span></li>
                                            <li>Period:     <span>Late Cretaceous</span></li>
                                            <li>Size:       <span>12m (39ft)</span></li>
                                            <li>Diet:       <span>Carnivore</span></li>
                                            <li>Lifestyle:  <span>Hunter, Scavenger</span></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="row sectionDinosaur lastDino">
                                        <div class="col-xs-12">
                                            <ul>
                                            <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                            <li>The best known of all dinosaurs, T. Rex held the record for the biggest and most powerful land-living carnivore of all time for a century, until the nineties.</li>
                                            <li>Tyrannosaurus were fearsome predators with an incredibly powerful bite, 8-16cm long teeth, excellent hearing and sight.</li>
                                            <li>About 20 T. Rex skeletons are known.</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12">
                                            <img src="images/T-Rex-Skull-Blue.svg" alt="trexSketchSkull" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 wrapDinoMsg">
                        <img class="md-trigger dinoSiluete dino2" data-modal="modal-2" src="images/shadowApatosaurusQuestion.png" alt="apatosaurusSiluete" />
                         <div class="message"><p class="backBack"><i class="error fa fa-exclamation-triangle"></i><span class="error africanDanger">&nbsp;Danger</span><br>Click on the shadow to discover</p></div>

                            <div class="row hidden-lg hidden-md hidden-sm displayDinoInfo">
                                <div class="col-xs-12">
                                    <h3 class="titleDino">Apatosaurus</h3>
                                    <div class="row sectionDinosaur">
                                        <div class="col-xs-12">
                                            <img src="images/sketchCOLORapatosaurus.svg" alt="apatosaurusSketch" />
                                        </div>
                                         <div class="col-xs-12">
                                            <ul>
                                                <li>Name meaning:   <span>Deceptive Lizard</span></li>
                                                <li>Named by:   <span>O.C. Marsh, 1877</span></li>
                                                <li>Classification: <span>Sauropoda, <br>
                                                        Diplodocidae</span></li>
                                                <li>Location:   <span>North America</span></li>
                                                <li>Period:     <span>Late Jurassic</span></li>
                                                <li>Size:       <span>25m (82ft)</span></li>
                                                <li>Diet:       <span>Herbivore</span></li>
                                                <li>Lifestyle:  <span>High Browser</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row sectionDinosaur lastDino">
                                        <div class="col-xs-12">
                                             <ul>
                                                <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                                <li>Apatosaurus vertebrae held a strong ligament that supported the weight of the neck and the tail, like the cables on a suspension bridge.</li>
                                                <li>Sauropods are known as the biggest animals ever to walk the Earth. Apatosaurus wheighed as much as 30 tons!</li>
                                                <li>It used to be believed that Apatosaurus and Brontosaurus were the same animal. Recent studies from 2015 have shown that they are, in fact, two different dinosaur species.</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12">
                                            <img src="images/Apatosaurus-Skull-Blue.svg" alt="apatosaurusSketchSiluete" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 wrapDinoMsg">
                        <img class="md-trigger dinoSiluete dino3" data-modal="modal-3" src="images/shadowTriceratopsQuestion.png" alt="triceratopsSiluete" />
                         <div class="message"><p class="backBack"><i class="error fa fa-exclamation-triangle"></i><span class="error africanDanger">&nbsp;Danger</span><br>Click on the shadow to discover</p></div>

                        <div class="row hidden-lg hidden-md hidden-sm displayDinoInfo">
                            <div class="col-xs-12">
                                <h3 class="titleDino">Triceratops</h3>
                                <div class="row sectionDinosaur">
                                    <div class="col-xs-12">
                                        <img src="images/sketchCOLORtriceratops.svg" alt="triceratopsSketch" />
                                    </div>
                                     <div class="col-xs-12">
                                        <ul class="dinoAfrican">
                                            <li>Name meaning:   <span>Three-horned Face</span></li>
                                            <li>Named by:   <span>O.C. Marsh, 1889</span></li>
                                            <li>Classification: <span>Ceratopsia, <br>
                                                    Chasmosaurini</span></li>
                                            <li>Location:   <span>North America</span></li>
                                            <li>Period:     <span>Late Cretaceous</span></li>
                                            <li>Size:       <span>9m (30ft)</span></li>
                                            <li>Diet:       <span>Herbivore</span></li>
                                            <li>Lifestyle:  <span>Low Browser</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row sectionDinosaur lastDino">
                                    <div class="col-xs-12">
                                         <ul>
                                            <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                            <li>Triceratops is the biggest and best-known of all long-frilled ceratopsian dinosaurs. Adults weighted aprox. 4,5 tonnes.</li>
                                            <li>When it was discovered it was only known from a pair of horns found in Denver, Colorado. However, Triceratops skulls were so solid that they began to turn up quite regularly as complete fossils.</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12">
                                        <img src="images/Triceratops-Skull-Blue.svg" alt="triceratopsSketchSkull" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-xs-12 wrapDinoMsg">
                        <img class="md-trigger dinoSiluete dino3" data-modal="modal-4" src="images/shadowSpinosaurusQuestion.png" alt="spinosaurusSiluete" />
                         <div class="message"><p class="backBack"><i class="error fa fa-exclamation-triangle"></i><span class="error africanDanger">&nbsp;Danger</span><br>Click on the shadow to discover</p></div>

                        <div class="row hidden-lg hidden-md hidden-sm displayDinoInfo">
                            <div class="col-xs-12">
                                <h3 class="titleDino">Spinosaurus</h3>
                                <div class="row sectionDinosaur">
                                    <div class="col-xs-12">
                                        <img src="images/sketchCOLORspinosaurus.svg" alt="spinosaurusSketch" />
                                    </div>
                                     <div class="col-xs-12">
                                         <ul class="dinoAfrican">
                                            <li>Name meaning: <span>Spined Lizard</span></li>
                                            <li>Named by: <span>E. F. Stromer, 1915</span></li>
                                            <li>Classification: <span>Theropoda, <br>
                                              Spinosauridae</span></li>
                                            <li>Location: <span>North Africa</span></li>
                                            <li>Period:  <span>Cretaceous</span></li>
                                            <li>Size:   <span>Maybe up to 17m (56ft)</span></li>
                                            <li>Diet:   <span>Carnivore</span></li>
                                            <li>Lifestyle: <span>Fisher, Hunter, Scavenger</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row sectionDinosaur lastDino">
                                    <div class="col-xs-12">
                                       <ul>
                                            <li><p class="dinoAfrican">DID YOU KNOW THAT<span class="boldText">..?</span></p></li>
                                            <li>The distinctive sail on its back may have been used to regulate body heat or to communicate with others.</li>
                                            <li>Spinosaurus is the largest carnivore dinosaur known up-to-date.</li>
                                            <li>The first and most complete Spinosaurus skeleton was lost in 1944, when the museum in Munich, Germany, in which it was stored, was destroyed by allied bombing during World War II.</li>
                                            <li>According to new research from 2014, Spinosaurus was a very good swimmer, had a semiaquatic lifestyle, and may have spent more time hunting the huge fish that roamed the rivers of its northern African habitat than on dry land.</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12">
                                        <img src="images/Spinosaurus-Skull-Blue.svg" alt="spinosaurusSketchSkull" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</section>
