<div class="socialIcons">
    <ul>
        <li><a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/jungleplushtoys"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/jungleplush" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://uk.pinterest.com/jungleplushtoys/" class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="http://jungleplush.tumblr.com/" class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a></li>
    </ul>
</div>
